.wc-block-order-confirmation-totals-wrapper,
.wp-block-woocommerce-order-confirmation-totals-wrapper > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
	flex-direction: column;
	gap: var(--unitone--s1);
}
