.wc-block-order-confirmation-summary {
	.wc-block-order-confirmation-summary-list {
		gap: var(--unitone--s2);
		justify-content: start;
	}

	.wc-block-order-confirmation-summary-list-item {
		margin-left: 0;
	}
}
