@use '../../node_modules/@inc2734/unitone-css/src/variables/variables' as variables;
@use '../../node_modules/@inc2734/unitone-css/src/layout-primitives/stack/stack';
@use '../../node_modules/@inc2734/unitone-css/src/layout-primitives/text/text';

.woocommerce {
	h2 {
		margin-bottom: var(--unitone--s-2);
	}

	.select2-container {
		display: block;;
	}

	// Default form-row
	form .form-row {
		margin-bottom: var(--unitone--s1);

		label {
			margin-bottom: 0;
			line-height: inherit;;
		}
	}
}

// User page width
.woocommerce-account,
.woocommerce-cart
.woocommerce-checkout {
	.wp-block-post-title,
	main .woocommerce {
		max-width: none;
	}
}

// Show products result count.
.woocommerce-result-count {
	color: var(--wp--preset--color--unitone-dark-gray);
	font-size: var(--wp--preset--font-size--unitone-s);
}

// Product page title.
.woocommerce .product_title {
	font-size: var(--wp--preset--font-size--unitone-3-xl);
}

// Product page short description.
.product .entry-summary,
.woocommerce-product-details__short-description {
	@include text.abstract-text();
	--unitone--max-width: 100%;
}
:where(.product .entry-summary > *, .woocommerce-product-details__short-description > *) {
	max-width: var(--unitone--max-width);
}
.product .entry-summary {
	.product_title {
		--unitone--margin-bottom: 0;
	}

	.woocommerce-product-rating {
		--unitone--margin-top: 0;
	}

	.price {
		* {
			font-size: inherit;
		}
	}
}

.woocommerce div.product div.images,
.woocommerce div.product div.summary {
	margin-bottom: var(--wp--style--block-gap);
}

.woocommerce div.product div.summary > * {
	margin-bottom: var(--unitone--global--text-gap);
}

// Product page tabs.
.woocommerce div.product .woocommerce-tabs ul.tabs {
	margin: 0 0 -1px;
	display: flex;
	padding: 0;
	overflow: auto;
  white-space: nowrap;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	margin: 0;
	border: 1px solid var(--wp--preset--color--unitone-gray);
	border-radius: 0;
	background-color: var(--wp--preset--color--unitone-light-gray);
	padding: 0 var(--unitone--s1);

	&.active {
		border-bottom-color: #fff;
	}

	&:not(:first-child) {
		border-left: none;
	}

	a {
		font-weight: normal;
	}
}
.woocommerce div.product .woocommerce-tabs .panel {
	--unitone--max-width: 100%;
	margin: 0;
	border: 1px solid var(--wp--preset--color--unitone-gray);
	padding: var(--unitone--s2);
}

// Align button and text field sizes.
.woocommerce .input-text {
	font-size: inherit;
	padding-right: var(--unitone--s-2);
	padding-left: var(--unitone--s-2);
}

// Star rating.
.woocommerce .star-rating {
	width: 5.3em;

	&::before,
	span,
	span::before {
		font-size: inherit !important;
		line-height: inherit !important;
	}
}
.woocommerce .star-rating span::before {
	color: #fab005;
}

// Single product review.
.woocommerce-Reviews {
	#comments {
		@include stack.abstract-stack();
	}

	.woocommerce-Reviews-title {
		font-size: var(--wp--preset--font-size--unitone-xl);

		> span {
			font-size: inherit;
		}
	}

	.comment-respond {
		display: flex;
		flex-direction: column;
		gap: var(--unitone--s-1);
	}

	.comment-reply-title {
		font-size: var(--wp--preset--font-size--unitone-l);
		font-weight: bold;
	}

	#review_form #respond p {
		margin: 0;
	}

	.comment-form .comment-form-cookies-consent #wp-comment-cookies-consent {
		margin-top: 0.35em;
	}

	p.stars {
		span {
			display: flex;
		}

		a {
			color: #d3ced2;
		}

		&:hover a {
			color: #fab005;
		}

		a:hover ~ a {
			color: #d3ced2;
		}

		&.selected a {
			color: #fab005;
		}

		&.selected:not(:hover) a.active ~ a {
			color: #d3ced2;
		}
	}
}

// Coupon code entry field on checkout page.
.coupon .input-text {
	width: 10em !important;
}

// Checkout page.
.woocommerce-checkout {
	> [id=order_review_heading] {
		margin-top: var(--unitone--s1);
		margin-bottom: var(--unitone--s-1);
		font-size: var(--wp--preset--font-size--unitone-l);
	}
}

// Order recieved page.
.woocommerce-order {
	display: flex;
	flex-direction: column;
	gap: var(--unitone--s1);

	> * {
		margin: 0 !important;

		> h2 {
			margin: 0 0 var(--unitone--s-2);
			font-size: var(--wp--preset--font-size--unitone-l);
		}
	}
}

.woocommerce .woocommerce-customer-details {
	address {
		padding: var(--unitone--s1);
	}
}

// My Account page.
.woocommerce-account .woocommerce-MyAccount-navigation {
	ul {
		list-style: none;
	}

	li {
		margin-left: 0;
		padding: 0;

		& + li {
			margin-top: var(--unitone--s-1);
		}
	}

	a {
		text-decoration: none;

		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}
}
.woocommerce-MyAccount-content {
	@include text.abstract-text();

	> *:not(:first-child) {
		margin-top: calc(var(--unitone--margin-top, 1) * var(--unitone--gap));
	}

	> header {
		--unitone--margin-bottom: 0;

		h2 {
			margin: 0;
		}
	}

	h2 {
		--unitone--font-size: 3;
	}

	h3 {
		margin-bottom: var(--unitone--s1);
		font-size: var(--wp--preset--font-size--unitone-l);
	}

	.woocommerce-notices-wrapper:empty {
		margin-bottom: 0;
	}

	.woocommerce-notices-wrapper:empty + * {
		margin-top: 0;
	}

	table.shop_table {
		margin-top: calc(var(--unitone--margin-top, 1) * var(--unitone--gap));
		margin-bottom: calc(var(--unitone--margin-bottom, 1) * var(--unitone--gap));
	}

	.form-row {
		display: flex;
		flex-direction: column;
		gap: var(--unitone--s-2);

		&::before,
		&::after {
			display: none !important;
		}
	}

	form > div > p:last-child {
		margin-top: var(--unitone--s1);
	}
}

// Edit account form
.woocommerce-EditAccountForm {
	> :last-child {
		margin-top: var(--unitone--s1);
	}
}

// Orders table
.woocommerce-account .woocommerce-orders-table {
	.woocommerce-orders-table__cell-order-actions {
		.woocommerce-button {
			margin: 0;
			display: inline-block;

			&:not(:first-child) {
				margin-left: var(--unitone--global--text-gap);
			}
		}
	}
}

/**
 * Block:checkout
 */

// Quantity
.wc-block-components-order-summary {
	.wc-block-components-order-summary-item__quantity {
		background-color: black;
		color: white;
		border: 0;
		box-shadow: none;

		span {
			font-size: 10px;
			line-height: inherit;
		}
	}
}

// Coupon panel
.wc-block-components-totals-coupon__form {
	.wc-block-components-totals-coupon__button {
		--unitone--padding: var(--unitone--s-2);
	}
}

// Step
.wc-block-components-checkout-step--with-step-number {
	.wc-block-components-checkout-step__title::before {
		content: counter(checkout-step) "."/"";
	}
}

/**
 * Block: Order recieved
 */
.woocommerce-order-received {
	.wp-block-woocommerce-legacy-template {
		display: none;
	}

	.woocommerce-thankyou-order-received {
		--unitone--font-size: 4;

		font-size: #{ variables.$font-size };
		line-height: #{ variables.$line-height };
	}

	ul.woocommerce-thankyou-order-details {
		list-style: none;
		border: 1px solid var(--wp--preset--color--unitone-gray);

		li {
			margin: 0;
			padding: var(--unitone--s-1);

			&:not(:first-child) {
				border-left: 1px solid  var(--wp--preset--color--unitone-gray);

				@media only screen and (max-width: 768px) {
					border-top: 1px solid  var(--wp--preset--color--unitone-gray);
					border-left: none;
				}
			}
		}
	}

	.woocommerce-table--order-details {
		th,
		td {
			border: 1px solid var(--wp--preset--color--unitone-gray);
			text-align: left;
		}
	}

	.woocommerce-customer-details {
		border: 1px solid var(--wp--preset--color--unitone-gray);

		> * {
			margin: 0;
			padding: var(--unitone--s-1);
		}

		> :not(:first-child) {
			border-top: 1px solid var(--wp--preset--color--unitone-gray);
		}

		.woocommerce-column__title {
			--unitone--font-size: 1;

			font-size: #{ variables.$font-size };
			line-height: #{ variables.$line-height };
		}

		address {
			padding: var(--unitone--s-1);
			width: auto;
		}
	}
}
