@use '../../node_modules/@inc2734/unitone-css/src/variables/variables' as variables;
@use '../../node_modules/@inc2734/unitone-css/src/layout-primitives/stack/stack';
@use '../../node_modules/@inc2734/unitone-css/src/layout-primitives/text/text';

.woocommerce {
	h2 {
		margin-bottom: var(--unitone--s-2);
	}

	.select2-container {
		display: block;;
	}

	// Default form-row
	form .form-row {
		margin-bottom: var(--unitone--s1);

		label {
			margin-bottom: 0;
			line-height: inherit;;
		}
	}
}

// Button
.woocommerce-button,
.button.reactivate,
.button.cancel,
.button.wcs_deletion_error {
	--unitone--border-radius: var(--unitone--global--border-radius);
	--unitone--padding: var(--unitone--p-1);

	background-color: var(--wp--preset--color--unitone-accent);
	border-radius: var(--unitone--border-radius);
	border-width: 0;
	color: #fff;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	padding-top: calc(var(--unitone--padding) / 2);
	padding-right: var(--unitone--padding);
	padding-bottom: calc(var(--unitone--padding) / 2);
	padding-left: var(--unitone--padding);
	text-decoration: none;
}

// User page width
.woocommerce-account,
.woocommerce-cart
.woocommerce-checkout {
	.wp-block-post-title,
	main .woocommerce {
		max-width: var(--unitone--max-width);
	}
}

// Show products result count.
.woocommerce-result-count {
	color: var(--wp--preset--color--unitone-dark-gray);
	font-size: var(--wp--preset--font-size--unitone-s);
}

// Product page title.
.woocommerce .product_title {
	font-size: var(--wp--preset--font-size--unitone-3-xl);
}

// Product page short description.
.product .entry-summary,
.woocommerce-product-details__short-description {
	@include text.abstract-text();

	& {
		--unitone--max-width: 100%;
	}
}
:where(.product .entry-summary > *, .woocommerce-product-details__short-description > *) {
	max-width: var(--unitone--max-width);
}
.product .entry-summary {
	.product_title {
		--unitone--margin-bottom: 0;
	}

	.woocommerce-product-rating {
		--unitone--margin-top: 0;
	}

	.price {
		* {
			font-size: inherit;
		}
	}
}

.woocommerce div.product div.images,
.woocommerce div.product div.summary {
	margin-bottom: var(--wp--style--block-gap);
}

.woocommerce div.product div.summary > * {
	margin-bottom: var(--unitone--global--text-gap);
}

// Product page tabs.
.woocommerce div.product .woocommerce-tabs ul.tabs {
	display: flex;
	border-bottom: 1px solid var(--wp--preset--color--unitone-light-gray);
	padding: 0;
	overflow: visible;
  white-space: nowrap;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: none;
	border-radius: 0;
	background-color: transparent;
	margin: 0;
	padding: 0;
	position: relative;

	&.active {
		background-color: transparent;
		color: inherit;

		&::after {
			content: '';
			display: block;
			position: absolute;
			inset: auto 0 -1px 0;
			border: none;
			border-bottom: 1px solid var(--wp--preset--color--unitone-accent);
			border-radius: 0;
			height: auto;
			width: auto;
		}
	}

	a {
		display: block;
		font-weight: normal;
		padding: var(--unitone--s-1) var(--unitone--s1);
	}
}
.woocommerce div.product .woocommerce-tabs .panel {
	margin: 0;
	max-width: var(--wp--style--global--content-size);
}

// Align button and text field sizes.
.woocommerce .input-text {
	font-size: inherit;
	padding-right: var(--unitone--s-2);
	padding-left: var(--unitone--s-2);
}

// Star rating.
.woocommerce .star-rating {
	width: 5.3em;

	&::before,
	span,
	span::before {
		font-size: inherit !important;
		line-height: inherit !important;
	}
}
.woocommerce .star-rating span::before {
	color: #fab005;
}

// Single product review.
.woocommerce-Reviews {
	#comments {
		@include stack.abstract-stack();
	}

	.woocommerce-Reviews-title {
		--unitone--font-size: 3;
	}

	.comment-respond {
		display: flex;
		flex-direction: column;
		gap: var(--unitone--s-1);
	}

	.comment-reply-title {
		font-weight: bold;
	}

	#review_form #respond p {
		margin: 0;
	}

	.comment-form {
		@include stack.abstract-stack();

		.comment-form-rating,
		.comment-form-comment {
			@include stack.abstract-stack();

			& {
				--unitone--gap: var(--unitone--s-2);
			}
		}
	}

	.comment-form .comment-form-cookies-consent #wp-comment-cookies-consent {
		margin-top: 0.35em;
	}

	p.stars {
		span {
			display: flex;
		}

		a {
			color: #d3ced2;
		}

		&:hover a {
			color: #fab005;
		}

		a:hover ~ a {
			color: #d3ced2;
		}

		&.selected a {
			color: #fab005;
		}

		&.selected:not(:hover) a.active ~ a {
			color: #d3ced2;
		}
	}
}

// A review
.woocommerce #reviews #comments ol.commentlist .review {
	.comment-text {
		background-color: var(--wp--preset--color--white);
		border-color: var(--wp--preset--color--unitone-light-gray);
		color: var(--wp--preset--color--unitone-text-black);
		padding: var(--unitone--p1);
	}

	.meta {
		margin: 0 0 var(--unitone--s1);
		color: inherit;
	}

	.description {
		@include stack.abstract-stack();
	}
}

// Product page related
.woocommerce div.product .related.products {
	margin-top: var(--unitone--s2);

	h2 {
		--unitone--font-size: 3;
	}
}

// Coupon code entry field on checkout page.
.coupon .input-text {
	width: 10em !important;
}

// Checkout page.
.woocommerce-checkout {
	> [id=order_review_heading] {
		margin-top: var(--unitone--s1);
		margin-bottom: var(--unitone--s-1);
		font-size: var(--wp--preset--font-size--unitone-l);
	}
}

// Order recieved page.
.woocommerce-order {
	display: flex;
	flex-direction: column;
	gap: var(--unitone--s1);

	> * {
		margin: 0 !important;

		> h2 {
			margin: 0 0 var(--unitone--s-2);
			font-size: var(--wp--preset--font-size--unitone-l);
		}
	}
}

.woocommerce .woocommerce-customer-details {
	address {
		padding: var(--unitone--s1);
	}
}

// My Account page.
.woocommerce-account .woocommerce-MyAccount-navigation {
	ul {
		list-style: none;
	}

	li {
		margin-left: 0;
		padding: 0;

		& + li {
			margin-top: var(--unitone--s-1);
		}
	}

	a {
		text-decoration: none;

		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}
}
.woocommerce-MyAccount-content {
	@include text.abstract-text();
	@include text.abstract-text--gap();

	& {
		--unitone--max-width: 100%;
	}

	> header {
		--unitone--margin-bottom: 0;

		h2 {
			margin: 0;
		}
	}

	h2 {
		--unitone--font-size: 3;
	}

	h3 {
		margin-bottom: var(--unitone--s1);
		font-size: var(--wp--preset--font-size--unitone-l);
	}

	.woocommerce-notices-wrapper:empty {
		margin-bottom: 0;
	}

	.woocommerce-notices-wrapper:empty + * {
		margin-top: 0;
	}

	table.shop_table {
		margin-top: calc(var(--unitone--margin-top, 1) * var(--unitone--gap));
		margin-bottom: calc(var(--unitone--margin-bottom, 1) * var(--unitone--gap));
		width: 100%;
	}

	.form-row {
		display: flex;
		flex-direction: column;
		gap: var(--unitone--s-2);

		&::before,
		&::after {
			display: none !important;
		}
	}

	form > div > p:last-child {
		margin-top: var(--unitone--s1);
	}
}

// Edit account form
.woocommerce-EditAccountForm {
	> :last-child {
		margin-top: var(--unitone--s1);
	}
}

// Subscription detail table {
.subscription_details {
	.button + .button {
		margin-left: var(--unitone--s-2);
	}
}

// Orders table
.woocommerce-account .woocommerce-orders-table {
	.woocommerce-orders-table__cell-order-actions {
		.woocommerce-button {
			margin: 0;
			display: inline-block !important;
		}

		.woocommerce-button + .woocommerce-button {
			margin-left: var(--unitone--s-2);
		}
	}
}

/**
 * Block: Order recieved
 */
.woocommerce-order-received {
	.wp-block-woocommerce-legacy-template {
		display: none;
	}

	.woocommerce-thankyou-order-received {
		--unitone--font-size: 4;

		font-size: #{ variables.$font-size };
		line-height: #{ variables.$line-height };
	}

	ul.woocommerce-thankyou-order-details {
		list-style: none;
		border: 1px solid var(--wp--preset--color--unitone-light-gray);

		li {
			margin: 0;
			padding: var(--unitone--s-1);

			&:not(:first-child) {
				border-left: 1px solid  var(--wp--preset--color--unitone-light-gray);

				@media only screen and (max-width: 768px) {
					border-top: 1px solid  var(--wp--preset--color--unitone-light-gray);
					border-left: none;
				}
			}
		}
	}

	.woocommerce-table--order-details {
		th,
		td {
			border: 1px solid var(--wp--preset--color--unitone-light-gray);
			text-align: left;
		}
	}

	.woocommerce-customer-details {
		border: 1px solid var(--wp--preset--color--unitone-light-gray);

		> * {
			margin: 0;
			padding: var(--unitone--s-1);
		}

		> :not(:first-child) {
			border-top: 1px solid var(--wp--preset--color--unitone-light-gray);
		}

		.woocommerce-column__title {
			--unitone--font-size: 1;

			font-size: #{ variables.$font-size };
			line-height: #{ variables.$line-height };
		}

		address {
			padding: var(--unitone--s-1);
			width: auto;
		}
	}
}

.wc-block-components-notice-banner {
	align-items: center;
	color: var(--wp--preset--color--unitone-text-black);

	> .wc-block-components-notice-banner__content .wc-forward.wp-element-button {
		color: inherit !important;
		opacity: 1;
	}
}
